{% for folder, content in structure.items %}
<li>
    {% if content %}
    <!-- Nested folder -->
    <span class="arrow"></span>
    <span class="folder">{{ folder }}</span>
    <ul class="nested">
        {% include 'app/directory_structure.html' with structure=content parent_path=parent_path|add:'/'|add:folder %}
    </ul>
    {% else %}
    <!-- File -->
    <a href="{% url 'decrypt_file' file_path=parent_path|add:'/'|add:folder %}" class="file" data-file-url="{% url 'decrypt_file' file_path=parent_path|add:'/'|add:folder %}">{{ folder }}</a>
    {% endif %}
</li>
{% endfor %}
